.name {
    text-align: center;
    color: #C2EABD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1em;
}

.common_text {
    text-align: center;
    color: #D5C5C8;
    font-family: 'Courier New', Courier, monospace;
}
  
.centered_element {
    /* border:1px solid red; */
    /* background-color: whitesmoke; */
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10em;
    @media only screen and (max-width: 600px) {
        padding: 5em;
    }
}

.links_div {
    /* border:1px solid red; */
    text-align: center;
    /* padding: 1em; */
}

.logos {
    margin: 1em;
    object-fit: contain;
}

.logo_link {
    display: inline-block;
    width: max-content;
}

.page_name {
    text-align: center;
    color: #C2EABD;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
}

.page_div {
    position: relative;
    padding: 5em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.main_group {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tech_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects_div {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 3em;
}

.projects_div_1 {
    flex: 1;
    min-width: 100px;
    background-color: lightblue;
    padding: 10px;
}

.projects_div_2 {
    flex: 3;
    min-width: 200px;
    background-color: lightblue;
    padding: 10px;
}

.projects_image {
    object-fit: contain;
    margin: 0 auto;
}

.projects_title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0.2em;
}

.projects_description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.projects_tech_stack {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.projects_tech {
    padding: 5px;
    border: 1px solid;
    margin: 5px;
    background: white;
}


@media (max-width: 768px) {
    .projects_div {
        flex-direction: column;
    }

    .page_div {
        padding: 1em;
    }
}