.name {
    text-align: center;
    color: #C2EABD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.common_text {
    text-align: center;
    color: #D5C5C8;
    font-family: 'Courier New', Courier, monospace;
}
  
.centered_element {
    /* border:1px solid red; */
    /* background-color: whitesmoke; */
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10em;
    margin: 2em;
}

.links_div {
    /* border:1px solid red; */
    text-align: center;
    /* padding: 1em; */
}

.logos {
    margin: 1em;
}