/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.styles_name__i_5re {
    text-align: center;
    color: #C2EABD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.styles_common_text__9vvkF {
    text-align: center;
    color: #D5C5C8;
    font-family: 'Courier New', Courier, monospace;
}
  
.styles_centered_element__5380Y {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

